body {
    font-family:'Roboto', sans-serif;
}
h1 {
    font-size:300%;
    margin: 0;
}

a {
    /* color:black; */
    text-decoration: none;
    font-weight: 500;
    color: rgb(114, 114, 248);
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

a:hover {
    color: black;
    text-decoration: underline;
}